.Input {
    width: 30%;
    margin: auto;
    padding: 16px;
}

@media (max-width: 600px) {
    .Input {
        width: 60%;
    }
}

.PageBody {
    width: 100%;
    height: 100%;
}

h1 {
    margin-top: 150px;
    font-size: 60px;
    font-weight: bold;
}

.Pink {
    color: #f44292;
}

label {
    margin-top: 20px;
    text-align: left;
}

.Button {
    color: white;
    background-color: #4c7ce6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Button:hover {
    color: white;
    background-color: #375bab;
}

a {
    color: #f44292;
    text-decoration: none;
}

a:hover {
    color: #c92871;
    text-decoration: none;
}