.Title {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.Pink {
    color: #f44292;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Input {
    width: 50%;
    margin: auto;
    padding: 16px;
}

@media (max-width: 600px) {
    .Input {
        width: 60%;
    }
}

.Button {
    color: white;
    background-color: #4c7ce6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Button:hover {
    color: white;
    background-color: #375bab;
}

a {
    color: #f44292;
    text-decoration: none;
}

a:hover {
    color: #c92871;
    text-decoration: none;
}

label {
    margin-top: 20px;
    text-align: left;
}

.CopyButton {
    color: white;
    background-color: #f44292;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CopyButton:hover {
    color: white;
    background-color: #c92871;
}